
.name{
    text-align: center;
}

.mainContent{
    display: flex;
}

#add{
    width: 25%;
    height: auto;
}

#edit{
    width: 25%;
    height: auto;
}

#remove{
    width: 25%;
    height: auto;
}