
.name{
    text-align: center;
}

.buttonContent{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, lightblue, white);
}

.button{
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), 
    inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    height: 70px;
    width: 70px;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.add{
    font-size: 275%;
    color: rgb(68, 238, 68);
    text-shadow: 0px -1px 1px green, 1px 1px 1px white;
}

.edit{
    font-size: 200%;
    color: rgb(120, 120, 243);
    text-shadow: 0px -1px blue, 1px 1px 1px white;
}

.remove{
    font-size: 225%;
    color: rgb(236, 100, 100);
    text-shadow: opx -1px 1px rgb(150, 7, 7), 1px 1px 1px white;
}

@media(min-width: 786px){
    .button{
        border-radius: 0%;
        width:250px;
        background-image: none;
        
    }

    .edit{
        box-shadow: none;
    }

    .edit::before, .edit::after{
        position: absolute;
        width: 100%;
	    height: 100%;
        bottom: 0;
	    left: 0;
        z-index: 1;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .edit:hover::before{
        animation-name: rotateCW;
        animation-duration: 3s;
        left: 96px;
        width: 64px;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .edit:hover::after{
        animation-name: rotateCCW;
        animation-duration: 2s;
        left: 96px;
        width: 64px;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotatecw {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    
    @keyframes rotateccw {
        from {transform: rotate(0deg);}
        to {transform: rotate(-360deg);}
    }

    .remove{
        transition: all 0.5s;
        position: relative;
        box-shadow: none;
        background-image: none;
    }

    .remove span{
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .remove::before{
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    }

    .remove::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(255,255,255,0.2);
        background-color: rgba(255,255,255,0.1);
    }

    .remove:hover:before {
        transform: rotate(-45deg);
        background-color: rgba(104, 54, 54, 0.219);
    }

    .remove:hover::after {
        transform: rotate(45deg);
        background-color: rgba(104, 54, 54, 0.219);
    }


}
